*{
     
    margin: 0;
    padding: 0;
}
.container
{
    
    margin:  0 auto;
   
}
body
{
    margin: auto;
    
     max-height: 2702px;
    max-width: 1280px;
    min-width: 600px;
}

@media screen and (max-width: 600px) {
    
    
    .header
    {
       
        min-height: 150px;
    }
    
    .wrap-bar .wrap-bar-square{
        float: none;
        
    }
    .content-slider
    {
        
    }
   .slider .menu
    {
        float:none;
           position: absolute;
      margin-left: 10px;
    min-height: 40px;
        
    }
    
    .slider .menu .menu-list
    {
        
        float: none;
        border-right: none;
    }
    
    .content-slider .buy-slider
    {
        
    }
    
    .slider .header .logo-type .global-strip
    {
        display: none;
    }
   
    .container .slider-wrap .text-wrap p, .container .slider-wrap .text-wrap .h , .container .slider-wrap .text-wrap , htx
    {
        
       
    }
    .slider .content-slider .logo-banner
    {
       
       display: none;
    }
}


.slider .header
{
    height: 100px;
    box-sizing: border-box;
    
}

.content-slider
{
    position: relative;
    height: 539px;
    background-image: url(images/Layer_1.png);
    z-index: 0;
}


.content-slider .shape1
{
    width: 334px;
    height: 334px;
}

.content-slider .shape2
{
    width: 394px;
    height: 394px;
}

.content-slider .shape3
{
    width: 452px;
    height: 452px;
}

.slider
{
    margin: 0 auto;
    max-width: 1280px;
   
}

.clearfix::after
{
    content: "";
    display: table;
    clear: both;
}

.slider .menu
{
    
    box-sizing:border-box;
    height: 20px;
    margin-right: 143px;
    display: block;
    float:right;
    list-style-type: none;
     margin-top:42px;
    
}
.slider .menu .menu-link
{
    text-decoration: none;
    color: #565656;
    font-size: 19px;
    font-weight: 300;
    padding: 0 11px;
 
}
.slider .menu .menu-link:hover
{
    
 background-color:#4B4B4B;
    border-radius: 2px;
    color:white;
    transition: all 0.3s ease;
}
.slider .menu .menu-list
{
   float:left;
    border-right: 2px solid #565656;
}

.slider .menu .menu-list:last-child
{
   border-right: none;
}

.slider .content-slider .logo-banner
{
    box-sizing: border-box;
    height: 123px;
    float: right;
}

.slider .content-slider .logo-banner .banner
{
    position: relative;
    float: left;
    width: 119px;
    height: inherit;
}

.slider .content-slider .logo-banner #ba1
{
    background-color: #08A39A;
}
.slider .content-slider .logo-banner #ba2 
{
    background-color: #048B8B;
}

.slider .content-slider .logo-banner #ba3 
{
    background-color: #017E83;
}

.slider .content-slider .logo-banner .banner .img-banner
{
    height: 67px;
    position: absolute;;
    display: block;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    
}

.slider .content-slider .circle
{
    position: relative;
    width: 452px;
    height: 452px;
    left: 196px;
    top:48px;
}
.slider .content-slider #imgphone
{
    display: block;
    position: absolute;
    z-index: 1;
     margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

.slider .content-slider .circle #c1
{
   background-color: #058E8D;
     width: 452px;
    height: 452px;
    border-radius: 50%;
    
}

.slider .content-slider .circle #c2
{
        position: absolute;
      width: 394px;
      height: 394px;
      background-color: #09A199;
      border-radius: 50%;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
      
}
.slider .content-slider .circle #c3
{
        position: absolute;
      width: 334px;
      height: 334px;
      background-color: #13B9AB;
      border-radius: 50%;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
      
}

.slider .content-slider .text-field
{
    top:134px;
    position: absolute;;
    left: 100%;
    width:400px;
    
    
}

.slider .content-slider .text-field .text-field-logo
{
    position:relative;
    height: 55px;
    
}

.slider .content-slider .text-field .pimg
{
width: 103px;
display: block;
color: #ffffff;
font-size: 21px;
font-weight: 300;
text-transform: uppercase;
    position: relative;
    left: 20%;
}
.slider .content-slider .text-field .text-field-logo img
{
position: absolute;

}

.slider .content-slider .text-field .text
{
    position: relative;
    top:59px;
}

.slider .content-slider .text-field .text .t1
{
    color: #ffffff;
    font-size: 39px;
    font-weight: 300;
    text-transform: uppercase;
}


.slider .content-slider .text-field .text .t2
{
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
}

.slider .content-slider .text-field .buy
{
    position: relative;
    top:77px;
    
    
}

.slider .content-slider .text-field .buy .bin
{
    
    width:55px;
    height: 45px;
    background-color:#259D8E;
    position: absolute;
    
}

.slider .content-slider .text-field .buy .bin:hover
{
   background-color:#017E83;
    transition: all 0.3s ease;
    
}
.slider .content-slider .text-field .buy .bin:active
{
   background-color:#002F56;
    
    
}

.slider .content-slider .text-field .buy .bin img
{
    position: relative;
    display: block;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    
}

.slider .content-slider .text-field .buy .text-buy
{
     width:169px;
    height: 45px;
    background-color:#54D3C3;
    position: absolute;
    left:55px;
    
    
}

.slider .content-slider .text-field .buy .text-buy:hover
{
   background-color:#048B8B;
    
    transition: all 0.3s ease;
   
    
}
.slider .content-slider .text-field .buy .text-buy:active
{
   background-color:#24537A;
   
    
}

.slider .content-slider .text-field .buy .text-buy p
{
    position: relative;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    top: 50%;
    transform:translate(0,-50%);
}

.slider .header .logo-type .global-strip
{
    height: 60px;
    width: 49px;
    position: relative;
    top: 22px;
    left:164px;
}

.slider .header .logo-type .global-strip a
{
    
    left: 100%;
    bottom: 50%;
    display: block;
    text-decoration: none;
    position: absolute;
    color: #038c8c;
    font-size: 43px;
    font-weight: 400;
    transform: translateY(50%);
}

.slider .header .logo-type .global-strip .strip
{
    position: relative;
    height: 10px;
    width: 49px;
}

.slider .header .logo-type .global-strip .M
{
    z-index: 1;
    position: absolute;
   display: block;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 43px;
    font-weight: 300;
    text-transform: uppercase;
    
}
.slider .header .logo-type .global-strip #str1
{
    background-color:#42EEE3;
}
.slider .header .logo-type .global-strip #str2
{
    background-color:#2EE2D6;
}
.slider .header .logo-type .global-strip #str3
{
    background-color:#1FD0C4;
}
.slider .header .logo-type .global-strip #str4
{
    background-color:#17C0B5;
}
.slider .header .logo-type .global-strip #str5
{
    background-color:#0EB0A5;
}
.slider .header .logo-type .global-strip #str6
{
    background-color:#0AA096;
}

.container .slider-wrap
{
   width: inherit;
    height: 753px;
    position: relative;
    top: 57px;
    margin:  0 auto;
}

.container .slider-wrap .text-wrap p
{
    display: block;
    
    text-align: center;
}

.container .slider-wrap .text-wrap .h
{
    color: #636363;
font-size: 41px;
font-weight: 300;
}

.container .slider-wrap .text-wrap .htx
{
    margin: auto;
    position: relative;
    color: #9f9f9f;
    font-size: 15px;
    font-weight: 400;
    top:30px;
    height: 30px;
    width: 922px;
}

.container .slider-wrap .img-wrap .sh4
{
    top: 75px;
    width: 390px;
    height: 415px;
    display: block;
    position: relative;
    margin: auto;
}
.container .slider-wrap .img-wrap .sh5
{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}

.container .slider-wrap .img-wrap p
{
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1;
   
}

.container .slider-wrap .img-wrap .p1
{
    color: #ffffff;
font-size: 88px;
font-weight: 400;
    left:50%;
    top:55%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}

.container .slider-wrap .img-wrap .p2
{
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    
    font-weight: 400;
    left:50%;
    top:65%;
    transform: translate(-50%,-50%);
}

.container .slider-wrap-bar
{
    
    margin: 0 auto;
    
    background-image: url(images/Layer_6.png);
    width:1280px;
    height: 698px;

}
.container .slider-wrap-bar .wrap-bar
{
    width: inherit;
    height: 170px;
}

.container .slider-wrap-bar .wrap-bar .wrap-bar-square
{
    position: relative;
    z-index: 1;
    height: inherit;
    width: 213px;
    float: left;
}
.container .slider-wrap-bar .wrap-bar #sq1
{
   background-color:#01646C;
}
.container .slider-wrap-bar .wrap-bar #sq2
{
   background-color:#097B84;
}
.container .slider-wrap-bar .wrap-bar #sq3
{
   background-color:#118F99;
}
.container .slider-wrap-bar .wrap-bar #sq4
{
   background-color:#1DA0AA;
}
.container .slider-wrap-bar .wrap-bar #sq5
{
   background-color:#29B7C2;
}
.container .slider-wrap-bar .wrap-bar #sq6
{
   background-color:#3CCAD5;
}

.container .slider-wrap-bar .wrap-bar .wrap-bar-square img
{
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    
}

.container .slider-wrap-bar .block-laptop
{
    position: relative;
    left: 171px;
    top: 121px;
    width:559px;
}

.container .slider-wrap-bar .block-laptop-txt
{
    position: relative;
    left:55%;
    bottom: 25%;
}

.container .slider-wrap-bar .block-laptop-txt .text
{
    
}

.container .slider-wrap-bar .block-laptop-txt .text .t1
{
    
    color: #ffffff;
font-size: 39px;
font-weight: 300;
text-transform: uppercase;
}



.container .slider-wrap-bar .block-laptop-txt .text .t2
{
    display: block;
    position: absolute;
    top:50px;
    color: #ffffff;
font-size: 17px;
font-weight: 300;
}

.container .slider-wrap-bar .buy
{
    top:50px;
    position: relative;
}

.container .slider-wrap-bar .buy .bin
{
    width:55px;
    height: 45px;
    background-color:#259D8E;
    position: absolute;
}
.container .slider-wrap-bar .buy .bin:hover
{
   background-color:#017E83;
    transition: all 0.3s ease;
}
.container .slider-wrap-bar .buy .bin:active
{
   background-color:#002F56;
}

.container .slider-wrap-bar .buy .text-buy p
{
    position: relative;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    top: 50%;
    z-index: 1;
    transform:translate(0,-50%);
}

.container .slider-wrap-bar .buy .text-buy
{

     width:169px;
    height: 45px;
    background-color:#54D3C3;
    position: absolute;
    left:55px;
    
    
}

.container .slider-wrap-bar .buy .text-buy:hover
{
     background-color:#048B8B;
    
    transition: all 0.3s ease;
}

.container .slider-wrap-bar .buy .text-buy:active
{
    background-color:#24537A;
}


.container .slider-wrap-bar .buy .bin img
{
    position: relative;
    display: block;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

.container .percent-bar
{
    margin: auto;
    position: relative;
    width: 100%;
    height: 513px;
    
}

.container .percent-bar .global-bar
{
    margin: auto;
    position: relative;
    width: 1280px;
    height: 513px;
    
}
.container .percent-bar .percent-bar-1, .percent-bar-2
{
   float: left;
    
}

.container .percent-bar .percent-bar-1 p
{
    
    text-align: center;
    position: relative;
   display: block;
    color: #49d7b0; 
    text-transform: uppercase;
    
}

.container .percent-bar .percent-bar-1
{
    width: 784px;
    height: 513px;
}
.container .percent-bar .percent-bar-1 .bar-text
{
   position: relative;
    top:45%;
    transform: translateY(-50%);
}



.container .percent-bar .percent-bar-1 .pb1
{
   font-size: 200px;
    font-weight: 400;
   
    
}

.container .percent-bar .percent-bar-1 .pb2
{
   
font-size: 74px;
font-weight: 300;

}
.container .percent-bar .percent-bar-1 .pb3
{
   font-weight: 300;
}

.container .percent-bar .percent-bar-2
{
    width: 496px;
    height: 513px;
    
    background-color: #49D7B0;
    
}


.container .percent-bar .percent-bar-2 img
{
   display: block;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.footer
{
    border-top: 1px solid gray;
    margin: auto;
    height: 100px;
    width: 1280px;
    position: relative;
    
}
.footer p
{
    display: block;
    position: relative;
    text-align: center;
    top:50%;
    

}

.container #home
{
   background-color:#4B4B4B;
    color: white;
}

.content-slider .buy-slider
{
    position: relative;
    margin: 10px;
    float: left;
    width: 256px;
    height: 256px;
    border: 1px solid black;
    border-radius: 20px;
    z-index: 1;
    background-color: white;
    
}

.content-slider .buy-slider img
{
    width: 55%;
    height: 55%;
    display: block;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top:38%;
    transform: translate(-50%,-50%);
}


.content-slider .buy-slider:hover
{
    transform: scale(1.1);
}

.content-slider .buy-slider .control-buy
{
    position: absolute;
    width: 60%;
    height: 20%;
    border: 1px solid black;
    left: 50%;
    transform:translateX(-50%);
    top:70%;
    border-radius: 10px;
    background-color: indigo;
    
}

.content-slider .buy-slider .control-buy:hover
{
    background-color: #20103d;
}

.content-slider .buy-slider .control-buy p
{
    color: white;
    font-size: 30px;
}

.content-slider .buy-slider .control-buy:active
{
    background-color: brown;
}
.content-slider .buy-slider p
{
    margin-top: 5px;
    left: 50%;
    display: block;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    color:dimgray;
}

.content-slider .formcontent
{
    position:absolute;
    left: 50%;
    top:30%;
    transform: translateX(-50%);
    border:1px solid black;
    padding: 40px;
    border-radius: 13px;
}

.content-slider .formcontent #Reg
{
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: aliceblue;
}

.content-slider .formcontent p
{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}



.content-slider .formcontent input
{
    width: 220px;
    height: 25px;
    border-radius: 10px;
}

.content-slider .formcontent input[type]
{
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
}

.content-slider .formcontent input[type]:focus
{
    background-color: black;;
}

.content-slider .map
{
    position: absolute;
    left:50%;
    top: 70%;
    transform: translate(-50%,-50%);
    
}