.header
{
 display: block;
   
    height: 1400px;
    width: 1000px;
    font-family:  helvetica, arial, sans-serif; 
    padding-left: 100px;
    
}
.1
{
    color: aqua;
}

.dv
{
    background-color: aqua;
     align-content: center;

}

