* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0;
}

.header {
  height: 220px;
  padding: 60px 135px 50px 135px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header__h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
}

.header .header__navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header__navigation .navigation__item a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .header__navigation .navigation__item a:hover {
  border-radius: 7px;
  border: 2px solid black;
  padding: 15px;
  -webkit-transition: all 0.3s ease-in-out 0.02s;
  transition: all 0.3s ease-in-out 0.02s;
  background-color: black;
  color: white;
}

.preview {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 464px;
  background-image: url("../images/Hotel-11.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.preview .preview__icon {
  display: block;
  margin: auto;
}

.preview .preview__header {
  margin-top: 35px;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 140px;
}

.preview .preview__description {
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.reviews {
  padding: 95px 135px 50px 135px;
  z-index: 1;
}

.reviews .reviews__header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.reviews .reviews__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

.reviews .reviews__cards .reviews__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 365px;
  z-index: 5;
}

.reviews .reviews__cards .reviews__card .card__header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.reviews .reviews__cards .reviews__card .card__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

.reviews .reviews__cards .reviews__card .card__image {
  width: 100%;
}

.season-ticket {
  position: relative;
  background-color: #F7F7F7;
  mix-blend-mode: normal;
  text-align: center;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 35px;
}

.season-ticket::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.season-ticket .season-ticket__rounded__header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.season-ticket .season-ticket__rounded__action {
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
}

.season-ticket .season-ticket__rounded__action .action__header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 10px;
}

.season-ticket .season-ticket__rounded__action .action_description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.season-ticket .season-ticket__button {
  width: 170px;
  height: 50px;
  background-color: #FF7931;
  outline: none;
  color: #FFF;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -webkit-animation: btnIncrease 2s infinite ease-in-out;
          animation: btnIncrease 2s infinite ease-in-out;
}

@-webkit-keyframes btnIncrease {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes btnIncrease {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.season-ticket .season-ticket__button p {
  display: inline-block;
  margin-right: 10px;
}

.footer {
  position: relative;
  padding-top: 25px;
  padding-bottom: 45px;
  padding-left: 135px;
  padding-right: 135px;
  background-color: #575757;
  z-index: 5;
  margin-top: 50px;
}

.footer .footer__header {
  text-align: center;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 35px;
}

.footer .footer__navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
}

.footer .footer__navigation .navigation__item a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer__navigation .navigation__item a:hover {
  border-radius: 7px;
  border: 2px solid #423d3d;
  padding: 15px;
  -webkit-transition: all 0.3s ease-in-out 0.02s;
  transition: all 0.3s ease-in-out 0.02s;
  background-color: #423d3d;
  color: white;
}

.footer .hr {
  height: 2px;
  display: block;
  position: relative;
  background-color: white;
  width: 5%;
  border: 0.1px solid white;
  -webkit-animation: dashMove 2s cubic-bezier(0.47, -0.44, 0.49, 1.46) infinite;
          animation: dashMove 2s cubic-bezier(0.47, -0.44, 0.49, 1.46) infinite;
}

@-webkit-keyframes dashMove {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(1750%);
            transform: translateX(1750%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes dashMove {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(1750%);
            transform: translateX(1750%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.footer .footer__socials {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__socials .social-wrap {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 25px;
  border-radius: 3px;
  background: white;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.footer .footer__socials .social-wrap:hover {
  background-color: #423d3d;
}

.footer .footer__socials .social-wrap:hover i {
  color: white;
}

.footer .footer__socials .social-wrap i {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: center;
  font-size: 25px;
  color: #575757;
}

@media screen and (max-width: 992px) {
  .header {
    padding: 40px 80px 40px 80px;
  }
  .reviews {
    padding: 95px 70px 95px 70px;
  }
  .reviews .reviews__header {
    margin-bottom: 40px;
  }
  .footer {
    padding: 40px 80px 40px 80px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 40px 30px 40px 30px;
  }
  .header .header__navigation li {
    margin-top: 10px;
    margin-right: 10px;
  }
  .reviews .reviews__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews .reviews__cards .reviews__card {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .footer {
    padding: 40px 30px 40px 30px;
  }
  .footer .footer__navigation li {
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: auto;
  }
  .season-ticket {
    font-size: 10px;
  }
  .season-ticket::after {
    display: none;
  }
  .reviews {
    padding: 95px 30px 95px 30px;
  }
  .reviews .reviews__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews .reviews__cards .reviews__card {
    width: 100%;
  }
  .preview .preview__header {
    width: 100%;
    font-size: 190%;
  }
}
/*# sourceMappingURL=style.css.map */